:root, [data-bs-theme=light] {
  --bs-primary: #5E17EA;
  --bs-primary-rgb: 94,23,234;
  --bs-primary-text-emphasis: #26095E;
  --bs-primary-bg-subtle: #DFD1FB;
  --bs-primary-border-subtle: #BFA2F7;
  --bs-dark: #1e173f;
  --bs-dark-rgb: 139,16,189;
  --bs-dark-text-emphasis: #0C0919;
  --bs-dark-bg-subtle: #D2D1D9;
  --bs-dark-border-subtle: #A5A2B2;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #5E17EA;
  --bs-btn-border-color: #5E17EA;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #5014C7;
  --bs-btn-hover-border-color: #4B12BB;
  --bs-btn-focus-shadow-rgb: 231,220,252;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #4B12BB;
  --bs-btn-active-border-color: #4711B0;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #5E17EA;
  --bs-btn-disabled-border-color: #5E17EA;
}

.btn-outline-primary {
  --bs-btn-color: #5E17EA;
  --bs-btn-border-color: #5E17EA;
  --bs-btn-focus-shadow-rgb: 94,23,234;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #5E17EA;
  --bs-btn-hover-border-color: #5E17EA;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #5E17EA;
  --bs-btn-active-border-color: #5E17EA;
  --bs-btn-disabled-color: #5E17EA;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #5E17EA;
}

.btn-dark {
  --bs-btn-color: #fff;
  --bs-btn-bg: #1e173f;
  --bs-btn-border-color: #1e173f;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #1A1436;
  --bs-btn-hover-border-color: #181232;
  --bs-btn-focus-shadow-rgb: 221,220,226;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #181232;
  --bs-btn-active-border-color: #17112F;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #1e173f;
  --bs-btn-disabled-border-color: #1e173f;
}

.btn-outline-dark {
  --bs-btn-color: #1e173f;
  --bs-btn-border-color: #1e173f;
  --bs-btn-focus-shadow-rgb: 30,23,63;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #1e173f;
  --bs-btn-hover-border-color: #1e173f;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #1e173f;
  --bs-btn-active-border-color: #1e173f;
  --bs-btn-disabled-color: #1e173f;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #1e173f;
}

