.img-display {
    overflow: hidden;
    width: 360px;
}

.img-showcase {
    display: flex;
    transition: all 0.5s ease;
    
}


.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3) {
    margin-right: 0;
}

.img-item:hover {
    opacity: 0.2;
}

.img-item{
    width: 200px;
}

